
.btn {
                                                                                                                    background: #3498db;
                                                                                                                    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
                                                                                                                    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
                                                                                                                    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
                                                                                                                    background-image: -o-linear-gradient(top, #3498db, #2980b9);
                                                                                                                    background-image: linear-gradient(to bottom, #3498db, #2980b9);
                                                                                                                    border-radius: 28px;
                                                                                                                    font-family: Arial;
                                                                                                                    color: #ffffff;
                                                                                                                    font-size: 20px;padding: 10px 20px 10px 20px;
text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.wraptocenter * {
    vertical-align: middle;
}
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}

  .wraptocenter span {
      display: inline-block;
      height: 100%;
  }

  body {
      font-family: "Lato", sans-serif;
  }

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #af2739;
    background: linear-gradient(#581809, #af2739);
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #929292;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #80150a;
    color: #000cff;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #af2739;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

p{
    font-size: 20px;
}
